# platform dependent python byte code files.
*.pyc

# temporary vi files.
*.sw*

# pyenv local environment
.python-version

#nonsense
*.DS_Store
*ignore*
*~
.project
.pydevproject
.settings
*config.ini
output
.env
.vscode